In [4]:
import pandas as pd
from unidecode import unidecode
import numpy as np

In [5]:
def text_to_list(text):
    return unidecode(text).split(',')

In [6]:
authors = pd.read_csv('../input_data/authors.txt', sep = '|', header=None)
authors = authors.rename(columns={0: "paper_id", 2: "authors"})
authors['authors'] = authors['authors'].apply(text_to_list)

authors.head()

   paper_id   1                                            authors
0         0  --  [James H. Niblock, Jian-Xun Peng, Karen R. McM...
1         1  --          [Jian-Xun Peng, Kang Li, De-Shuang Huang]
2         2  --                                      [J. Heikkila]
3         3  --    [L. Teslic, B. Hartmann, O. Nelles, I. Skrjanc]
4         4  --  [Long Zhang, Kang Li, Er-Wei Bai, George W. Ir...

In [7]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

df = pd.DataFrame(mlb.fit_transform(authors['authors']),columns=mlb.classes_, index=authors.index)

df.head()

,,A,Belitski,Budzianowski,S,Sra,A A Lazar,A A Nanavati,A A Nielsen,A Agah,...,yao sun,yatian shen,yichao yan,yongliang wang,yuanzhang su,zhiting hu,zhiwei liu,zhixu li,zhongmin Cai,zulin wang
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
np.array(df[df.index<100]).shape

(100, 147950)

In [18]:
type(df.values)

numpy.ndarray

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [ ]:
import tensorflow as tf
from keras.layers import Dense, Activation, Flatten
model = tf.keras.Sequential()
model.add(tf.keras.layers.Embedding(input_dim=df.shape[1], output_dim=64))
#model.add(Flatten(64))
model.add(Dense(64, activation='sigmoid'))
# The model will take as input an integer matrix of size (batch,
# input_length), and the largest integer (i.e. word index) in the input
# should be no larger than 999 (vocabulary size).
# Now model.output_shape is (None, 10, 64), where `None` is the batch
# dimension.
input_array = np.array(df[df.index<100])
model.compile('rmsprop', 'mse')
output_array = model.predict(input_array)
print(output_array.shape)

In [ ]:
output_array[0]

In [ ]:
help(tf.keras.layers.Embedding)

In [ ]:
import numpy as np
np.array(df).shape()

In [ ]:
from gensim.models import Word2Vec

model = Word2Vec(vector_size=64, window=5, min_count=0, sg=1, workers=8)
model.build_vocab(df)
model.train(df, total_examples=model.corpus_count, epochs=5) 
model.wv[0]

In [ ]:
model.wv[70]

In [ ]:
help(Word2Vec)

In [ ]:
import math
import pandas as pd
import tensorflow as tf
import kerastuner.tuners as kt
import matplotlib.pyplot as plt
from tensorflow.keras import Model
from tensorflow.keras import Sequential
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError

# data in google colab
TRAIN_DATA_PATH = '/content/sample_data/california_housing_train.csv'
TEST_DATA_PATH = '/content/sample_data/california_housing_test.csv'
TARGET_NAME = 'median_house_value'

train_data = pd.read_csv(TRAIN_DATA_PATH)
test_data = pd.read_csv(TEST_DATA_PATH)

x_train, y_train = train_data.drop(TARGET_NAME, axis=1), train_data[TARGET_NAME]
x_test, y_test = test_data.drop(TARGET_NAME, axis=1), test_data[TARGET_NAME]

Scale the dataset using MinMaxScaler.



class AutoEncoders(Model):

    def __init__(self, output_units):

        super().__init__()
        self.encoder = Sequential(
                [
                    Dense(df.shape[1], activation="relu"),
                    Dense(1000, activation="relu"),
                    Dense(20, activation="relu")
                ]
        )

        self.decoder = Sequential(
                [
                    Dense(20, activation="relu"),
                    Dense(1000, activation="relu"),
                    Dense(df.shape[1], activation="sigmoid")
                ]
        )

def call(self, inputs):

    encoded = self.encoder(inputs)
    decoded = self.decoder(encoded)
    return decoded
    
auto_encoder = AutoEncoders(len(x_train_scaled.columns))

auto_encoder.compile(
        loss='mae',
        metrics=['mae'],
        optimizer='adam'
)

history = auto_encoder.fit(
        x_train_scaled, 
        x_train_scaled, 
        epochs=15, 
        batch_size=32, 
        validation_data=(x_test_scaled, x_test_scaled)
)